[submodule "tools"]
	path = tools
	url = https://github.com/alby69/PYC64
[submodule "tutorial"]
	path = tutorial
	url = https://github.com/alby69/C64GameTutorial
[submodule "core"]
	path = core
	url = https://github.com/alby69/C64-LLM
